h1 {
	text-align: center;
}

.button {
	background-color: #1da1f2;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 15px 0;
	font-size: 1.5em;
}

#click {
	width: 150px;
	margin: 0 auto;
	margin-top: 100px;
}


/**********************************************************
NAVIGATION
**********************************************************/
header {
	position: fixed;
	top:0;
	width: 100%;
	background-color: #fff;
}

header ul {
	list-style: none;
}

header a {
	text-decoration: none;
}

header div {
	margin-top: 5px;
}

#profile-pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#sign-out {
	color: #000;
	font-weight: bold;
	float: right;
	margin-top: -35px;
	margin-right: 10px;
}

nav {
	background-color: #fff;
	text-align: center;
	-webkit-app-region: drag;
	border-bottom: 2px solid #a29f9f;
	height: 75px;
}



nav li {
	display: inline-block; 
	width: 100px;
}


nav a{	
	display: block;
	color: #000;
	font-weight: 600;
	font-size: 1em;
	-webkit-app-region: no-drag;
	border-bottom: 4px solid #fff;  
	padding-top: 5px;
}

nav a:hover{
	padding-top: 0;
	border-bottom: 4px solid #1da1f2;
	font-size: 1.3em;	
}

nav img {
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
}



/**********************************************************
CONTENT
**********************************************************/

#feed {
	margin-top: 140px;
}

.content {
	background: #dad8d8;
}

.content p {
	max-width: 90%;
	font-size: 0.9em;
	margin-top: -15px;
	padding-left: 80px;
}

.user-pic {
	max-width: 50px;
	float: left;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 30%;
}


.images {
	padding-left: 70px;
}

.content-image {
	max-width: 400px;
	border-radius: 5%;
}

section div h2 {
	padding-top: 10px;
	padding-left: 80px;
}
