h1 {
	text-align: center;
}

.button {
	background-color: #1da1f2;
	color: #fff;
	text-align: center;
	text-shadow: -1px -1px 4px #000;
	text-decoration: none;
	display: block;
	padding: 15px 0;
	font-size: 1.5em;
}

#click {
	width: 150px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: -1px -1px 4px #000;
}


/**********************************************************
NAVIGATION
**********************************************************/
header {
	position: fixed;
	top:0;
	width: 100%;
	background-color: #fff;
}

header ul {
	list-style: none;
	padding: 0;
}

header a {
	text-decoration: none;
}

header div {
	margin-top: 5px;
}

#profile-pic {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 10px;
}

#sign-out {
	color: #000;
	font-weight: bold;
	float: right;
	margin-top: -35px;
	margin-right: 10px;
}

nav {
	background-color: #fff;
	text-align: center;
	-webkit-app-region: drag;
	border-bottom: 2px solid #a29f9f;
	height: 55px;
	margin: -20px;
}



nav li {
	display: inline-block;
	width: 70px;
}


nav a{
	display: block;
	color: #000;
	font-weight: 600;
	font-size: 0.7em;
	-webkit-app-region: no-drag;
	border-bottom-width: 4px;
	border-bottom-style: none;
	border-bottom-color: #1da1f2;
	padding-top: 6px;
}

nav a:hover{
	padding-top: 0;
	border-bottom-style: solid;
	font-size: 1em;
}

nav img {
	width: 25px;
	height: 25px;
	max-width: 25px;
	max-height: 25px;
}

/*********************************************************
LOADING BAR
**********************************************************/
.loading-bar {
	margin-top: 18px;
	width: 100%;
	height: 3px;
}

.loading-bar.hidden {
	display: none;
}

.loading-bar .loading-inner {
	margin-top: 0px;
	height: 3px;
	width: 50%;
	border-radius: 2px;
	background-color: #1da1f2;
	position: relative;
	animation: slide-loop 1s infinite linear;
}

@keyframes slide-loop {
	0% {
		left: -100%;
	}
	50% {
		left: 50%;
	}
	100% {
		left: 100%;
	}
}

/**********************************************************
CONTENT
**********************************************************/

#feed {
	margin-top: 95px;
}

.content-sub {
	padding-left: 80px;
}

.content {
	background: #e6eae3;
	margin-top: 5px;
}

.content .time {
	float: right;
  margin-right: 10px;
  margin-top: -30px;
	font-size: 0.8em;
}

.retweet {
	padding-top: 8px;
}

.retweet .retweeter {
	padding-left: 80px;
	font-size: 0.8em;
	color: #2f2e2e;
}

.retweet .retweeter a:not(:hover){
	text-decoration: none;
	color: #2f2e2e;
}

.retweet .retweeter a{
	text-decoration: underline;
	color: #1da1f2;
}

/*.retweet .content {
	margin-top: 15px;
}*/

.content p {
	max-width: 95%;
	font-size: 0.9em;
	margin-top: -10px;
	padding-top: -10px;
}

.user-pic {
	max-width: 50px;
	float: left;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 30%;
}

.content-image {
	max-width: 250px;
	max-height: 200px;
	border-radius: 5%;
}

section div h2 {
	padding-top: 12px;
	font-size: 1em;
	margin-top: 0;
}
