<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header>
      <h1>Twitter-client</h1>
    </header>
    <section>
      <div id="click" onclick="login()">
        <a href="https://www.twitter.com" class="button">Twitter</a>
      </div>
    </section>
    <script src="js/login.js" charset="utf-8"></script>
  </body>
</html>
