<header>
  <div>
    <ul>
      <li>
        <a href="#">
          <img *ngIf="account" id="profile-pic" [src]="account.profile_image_url">
        </a>
      </li>
      <li><a id="sign-out" (click)="logout()">Sign Out</a></li>
    </ul>
  </div>

  <nav>
    <ul>
      <li><a (click)="refreshTweets();"><img src="assets/home.png" /><br />Home</a></li>
      <li><a href="#"><img src="assets/tweet.png"><br />Tweet</a></li>
      <li><a href="#"><img src="assets/search.png"><br />Search</a></li>
    </ul>
  </nav>
  <div id="loading-bar" class="loading-bar hidden">
    <div class="loading-inner"></div>
  </div>
</header>
<section id="feed" *ngIf="tweets">
  <div *ngFor="let tweet of tweets">
    {{tweet | json}}
  </div>
</section>